.footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer__title{
    color: var(--clr-slate600);
    font-size: var(--size-sm);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}
